:root{
    --primary: rgba(0, 0, 0, 1); /*Màu đen */
    --secondary: rgba(249, 55, 119, 1); /*Màu đỏ hồng*/
    --green: rgba(34, 79, 52, 1); /*Màu xanh đậm */
    --gray: rgba(240, 240, 240, 1); /*Màu xám */
}

html, body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--gray);
}

